# Wrangle War Data

### Input Datasets

- `Data/Raw/Inter-StateWarData_v4.0.csv`
- `Data/Raw/INTRA-STATE_State_participants v5.1 CSV.csv`
- `Data/Raw/Extra-StateWarData_v4.0.csv`
- `Data/Raw/Non-StateWarData_v4.0.csv`

### Output Datasets

- `Data/war.csv`
- `Data/war_locations.csv`
- `Data/war_participants.csv`
- `Data/war_transitions.csv`

In [1]:
import pandas as pd
import numpy as np

In [28]:
dfInterStateWar = pd.read_csv("../Data/Raw/Inter-StateWarData_v4.0.csv", encoding='utf-8', na_values=[-7, -8, -9])
dfIntraStateWar = pd.read_csv("../Data/Raw/INTRA-STATE WARS v5.1 CSV.csv", encoding='latin-1', na_values=[-7, -8, -9])
dfIntraStateWarPar = pd.read_csv("../Data/Raw/INTRA-STATE_State_participants v5.1 CSV.csv", encoding='latin-1', na_values=[-7, -8, -9])
dfExtraStateWar = pd.read_csv("../Data/Raw/Extra-StateWarData_v4.0.csv", encoding='latin-1', na_values=[-7, -8, -9])
dfNonStateWar = pd.read_csv("../Data/Raw/Non-StateWarData_v4.0.csv", encoding='utf-8', na_values=[-7, -8, -9])

dfPolities = pd.read_csv("../Data/polity.csv", encoding='utf-8')

In [39]:
dfNonStateWar.WarType.unique()

array([8, 9])

## Create "war" table

Table creation statement

```
class War(Base):
    __tablename__ = "war"

    id = Column(Integer(4), primary_key=True)
    name = Column(Text)
    type_code = Column(Integer(1))
    type_name = Column(Text)
    is_intervention = Column(Boolean)
    is_international = Column(Boolean)
```

In [33]:
dfWars = pd.concat([
    dfInterStateWar[['WarNum', 'WarName', 'WarType']],
    dfIntraStateWar[['WarNum', 'WarName', 'WarType', 'Intnl']],
    dfExtraStateWar[['WarNum', 'WarName', 'WarType', 'Interven']],
    dfNonStateWar[['WarNum', 'WarName', 'WarType']]
]).drop_duplicates(ignore_index=True).rename(columns={'WarNum':'id', 
                                                      'WarName': 'name', 
                                                      'WarType': 'type_code', 
                                                      'Intnl':'is_international', 
                                                      'Interven': 'is_intervention'})

In [40]:
dfWars['type_name'] = dfWars['type_code'].map({1: "Inter-State", 
                                               2: "Extra-State", 
                                               3: "Extra-State", 
                                               4: "Intra-State", 
                                               5: "Intra-State", 
                                               6: "Intra-State", 
                                               7: "Intra-State",
                                               8: "Extra-State",
                                               9: "Extra-State"})

In [41]:
dfWars

,id,name,type_code,is_international,is_intervention,type_name
0,1.0,Franco-Spanish War,1,NaN,NaN,Inter-State
1,4.0,First Russo-Turkish,1,NaN,NaN,Inter-State
2,7.0,Mexican-American,1,NaN,NaN,Inter-State
3,10.0,Austro-Sardinian,1,NaN,NaN,Inter-State
4,13.0,First Schleswig-Holstein,1,NaN,NaN,Inter-State
...,...,...,...,...,...,...
735,1574.0,Rwandan Social Revolution,8,NaN,NaN,Extra-State
736,1577.0,Dhofar Rebellion Phase 1,8,NaN,NaN,Extra-State
737,1581.0,Angola Guerilla War,8,NaN,NaN,Extra-State
738,1582.0,East Timorese War Phase 1,8,NaN,NaN,Extra-State
739,1594.0,Hemda-Lendu War,9,NaN,NaN,Extra-State